# Python VE
backend/venv/

# Python cache
**/__pycache__/
*.pyc

# Testing and coverage
backend/.pytest_cache/
backend/htmlcov/
backend/.coverage

# System files
.DS_Store

# Database files
backend/app/data/*.json
backend/app/data/*.csv
